<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name = "Excel03ConString" connectionString = "Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <!--<add name = "Excel07ConString" connectionString = "Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>-->

    <add name="Wizardsemail9ConnectionString" connectionString="Data Source=Wizardsemail9.db.5933711.hostedresource.com;Initial Catalog=Wizardsemail9;User ID=Wizardsemail9;Password=Aceindus@1129" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="trainingConnectionString" value="Password=Aceindus@9;Persist Security Info=True;User ID=acetraining;Initial Catalog=acetraining;Data Source=acetraining.db.8298063.hostedresource.com"/>

    <add key="ConnectionString" value="Password=Aceindus@9;Persist Security Info=True;User ID=igiitdb;Initial Catalog=igiitdb;Data Source=igiitdb.db.5700429.hostedresource.com"/>
    <add key="WEConnectionString" value="Password=Aceindus@1129;Persist Security Info=True;User ID=Wizardsemail9;Initial Catalog=Wizardsemail9;Data Source=Wizardsemail9.db.5933711.hostedresource.com"/>
    <add key="aceConnectionString" value="Password=Aceindus@1129;Persist Security Info=True;User ID=aceindusdata;Initial Catalog=aceindusdata;Data Source=aceindusdata.db.8298063.hostedresource.com"/>
    <add key="owner" value="admin"/>
    <add key="con" value="USA"/>
    <add key="paypalemail" value="smcjhg@gmail.com"/>
    <add key="token" value="AbUiOTl7LWTX3uU6VckTUwGvv2EXA-0pGOtnvkIIZXzVnLplnjA4JpQ1"/>
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr"/>
    <add key="FailedURL" value="http://indusemail.com/PaymentFailed.aspx"/>
    <add key="SuccessURL" value="http://indusemail.com/PaymentSuccess.aspx"/>
    <add key="TravelConnectionString" value="Password=Manoj@110697; Persist Security Info=True;User ID=Itravels9;Initial Catalog=Itravels9;Data Source=Itravels9.db.11531151.hostedresource.com"/>
    <add key="siteurl" value="http://www.industraining.net/"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
 <system.web>
        <customErrors mode="Off"/>
    </system.web>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <!--<requestLimits maxAllowedContentLength="1073741824"/>-->
        <requestLimits maxAllowedContentLength="3221225472"/>
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMode="UseExpires" httpExpires="Tue, 21 Jan 2020 03:14:07 GMT"/>
    </staticContent>
  </system.webServer>
</configuration>