*{
	 padding:0px;
	 margin:0px;
}
 body{
	   width:100%;
	   font-family:Arial, Helvetica, sans-serif;
	   font-size:12px;
	   color:#036;
	   line-height:18px;
 
 }
 img{
	 border:0px;}
	 
a{
	 text-decoration:none;
	 color:#003;
}
a:hover{
	      text-decoration:none;
		  color:#C00;
}
 

#layout{
	      width:980px;
		  margin: 0px auto;
		  		 
 }
 .header{
	        width:100%;
			height:75px;
			float:left;
			color:#036;
			
 }
 .header a{
	          text-decoration:none;
			  color:#036;
 }
 .header a:hover{
	          text-decoration: underline;
			  color:#C00;
	 }
	 .menu{
		       width:100%;
			   height:30px;
			   float:left;
	 }
	 .banner{
		        width:100%;
				height:280px;
				float:left;
				padding-top:12px;
	 }
	 .banner_left{
		           width:76%;
				   height:250px;
				   float:left;
	 }
	 .banner_right{
		                width:228px;
						height:280px;
						float:right;
						background:url(../images/login_bg.png) no-repeat;
	 }
	 .banner_righttop{
		                  width:90%;
						  height:23px;
						  float:left;
						   padding-top:7px;
						   padding-left:15px;
						   font-size:14px;
						   font-weight:bold;
						   color:#FFF;
	 }
	 .banner_rightbottam{
		                  width:93%;
						  height:140px;
						  float:left;
						  padding:15px 10px 10px 10px;
	 }
	 .content_top{
		           width:99.5%;
				   height:auto;
				   float: left;
				   padding-left:5px;
				   padding-right:5px;
				   padding-top:10px;
	 }
	 .contentbg{
		         width:315px;
				 height:147px;
				 float:left;
				 background:url(../images/health-care.png) top no-repeat;
	 }
	 .heading{
		         font-family: Arial, Helvetica, sans-serif;
				 font-size:14px;
				 color:#036;
				 font-weight:bold;
				 padding-top:5px;
				 border-bottom:1px solid #C00;
				 padding-bottom:2px;
	 }
	 .footer{
		      width:100%;
			  height:40px;
			  float:left;
			  margin-top:15px;
			  background:url(../images/footer_bg.png) repeat-x top;
			  
	 }
	 .footer a{
		         text-decoration:none;
				 color:#036;
	 }
	 .footer a:hover{
		                text-decoration:none;
						color:#C00;
	 }
	 
/* login */
	 
.dropcontent{
width: 210px;
height:130px;
display:block;
}

				   
		         
	 
	 
 