<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>

  </connectionStrings>
  <appSettings>

    <add key="ConnectionString" value="Password=Aceindus@9;Persist Security Info=True;User ID=igiitdb;Initial Catalog=igiitdb;Data Source=igiitdb.db.5700429.hostedresource.com"/>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

</configuration>