.ast {font-family:verdana;font-size:10pt;color:#blue; }
.tbdf {font-family:verdana;font-size:10pt;color:#000000; FONT-WEIGHT: bold}

/*select, INPUT, textarea {BACKGROUND-COLOR: #ffffff;	BORDER-BOTTOM-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000; 	BORDER-RIGHT-WIDTH: 1px;BORDER-TOP-COLOR: #000000; 
BORDER-TOP-WIDTH: 1px; 	FONT-FAMILY: Verdana; 	FONT-SIZE: 8pt}*/
.but {BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-LEFT-WIDTH: 1px;	BORDER-RIGHT-COLOR: #000000; BORDER-RIGHT-WIDTH: 1px;	BORDER-TOP-COLOR: #000000; BORDER-TOP-WIDTH: 1px; FONT-FAMILY: Verdana; 	FONT-SIZE: 8pt; color: #003399; font-weight: bold; CURSOR: pointer; BORDER-RIGHT: #ccc 1px outset; PADDING-RIGHT: 0.2em; BORDER-TOP: #fff 1px outset; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.1em; BORDER-LEFT: #fff 1px outset; COLOR: #333; PADDING-TOP: 0.1em; BORDER-BOTTOM: #ccc 1px outset; BACKGROUND-COLOR: #ddd; TEXT-DECORATION: none
}

.tbox
{BACKGROUND-COLOR: #ffffff;	BORDER-BOTTOM-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000; 	BORDER-RIGHT-WIDTH: 1px;BORDER-TOP-COLOR: #000000; 
BORDER-TOP-WIDTH: 1px; 	FONT-FAMILY: Verdana; 	FONT-SIZE: 8pt}
.tbox1
{BACKGROUND-COLOR: #ffffff;	BORDER-BOTTOM-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000; 	BORDER-RIGHT-WIDTH: 1px;BORDER-TOP-COLOR: #000000; 
BORDER-TOP-WIDTH: 1px; 	FONT-FAMILY: Verdana; 	FONT-SIZE: 8pt;width:150;}

.ddlist
{BACKGROUND-COLOR: #ffffff;	BORDER-BOTTOM-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000; 	BORDER-RIGHT-WIDTH: 1px;BORDER-TOP-COLOR: #000000; 
BORDER-TOP-WIDTH: 1px; 	FONT-FAMILY: Verdana; 	FONT-SIZE: 8pt}
.tarea 
{BACKGROUND-COLOR: #ffffff;	BORDER-BOTTOM-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000; 	BORDER-RIGHT-WIDTH: 1px;BORDER-TOP-COLOR: #000000; 
BORDER-TOP-WIDTH: 1px; 	FONT-FAMILY: Verdana; 	FONT-SIZE: 8pt}
.ErrMsg
{
	font-family:Verdana;
	Color:Red;
	font-size:13;
}

a {text-decoration: none}
A.t{FONT-FAMILY: verdana; FONT-SIZE: 12px; FONT-WEIGHT: bold}
.t{FONT-FAMILY: verdana; FONT-SIZE: 10px}
.mdm{FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY:Verdana ; TEXT-DECORATION: none}
.text{font-family:verdana;font-size:11px;color:#000000;}
.textbold{font-family:verdana;font-size:11px;color:#000000;FONT-WEIGHT: bold}

.text1{font-family:verdana;font-size:11px;color:#000099;}
.tb{FONT-FAMILY: verdana; FONT-SIZE: 12px}
.FR{FONT-FAMILY: verdana; FONT-SIZE: 12px; background-color: #FFFF99}
.F1{font-family:verdana;font-size:11px;color:#ffffff; }
.tt{	FONT-FAMILY: verdana; FONT-SIZE: 12px}
.F1 {font-family:verdana;font-size:11px;color:#ffffff; }
.phn {font-family:verdana;font-size:8pt;color:#882200; }
.hos {font-family:verdana;font-size:10pt;color:#882200; }
.vis { 
 background-color: #006633; font-family: verdana; font-size: 10pt; color: #FFFF33; font-weight: bold}

.mmenu_link A { font-family: Verdana; text-align: center; font-size: 8pt; font-weight: bold; color:#0000FF; padding: 4px; display:block; background: #F9EDA0; text-decoration: none; border: 0px solid; border-color: #D5F29B #5E752F #7CB40D #CCFF99}
.mmenu_link A:hover { font-family: Verdana; text-align: center; font-size: 8pt; font-weight: bold; color: White; padding: 4px; display:block; background: #6B6DDE; text-decoration: none; border: 0px solid; border-color: #ABCAE7 #0E1E2D #1F4566 #73A8D7}

.footer1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; line-height: normal; color: #882200; font-weight: normal; text-decoration: none}


.footer { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal; color: #882200; font-weight: normal; text-decoration: none}

.footer:hover { color: #882200; text-decoration: underline}

	
/*Template Style sheet*/

A.menu {
	FONT-SIZE: 11px; COLOR: #afd8ff; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: underline
}
A.menu:hover  { color: #ffffff; font-size: 11px; font-family: Arial, Tahoma, Verdana; text-decoration: underline; background-color: green }
A.gmenu {
	FONT-SIZE: 11px; COLOR: #0099cc; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: none
}
A.gmenu:hover {
	FONT-SIZE: 11px; COLOR: #0099cc; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: none
}
body  { background-color: #ffffff; margin-top: 0px; margin-bottom: 0px; margin-left: 0px }
A.IndexLink {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: underline
}
A.orgmenu {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: none
}
A.selectedmenu {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: none
}
.grayfiller {
	BORDER-RIGHT: #b2b6b5 1px solid; BORDER-TOP: #b2b6b5 0px solid; BORDER-LEFT: #b2b6b5 1px solid; BORDER-BOTTOM: #b2b6b5 1px solid; BACKGROUND-COLOR: #f1f1f1
}
.grayborder {
	
}
.lgrayborder {
	BORDER-RIGHT: #b2b6b5 0px solid; BORDER-TOP: #b2b6b5 0px solid; BORDER-LEFT: #b2b6b5 1px solid; BORDER-BOTTOM: #b2b6b5 0px solid
}
.blueborder {
	BORDER-RIGHT: #c5d1e2 1px solid; BORDER-TOP: #c5d1e2 1px solid; BORDER-LEFT: #c5d1e2 1px solid; BORDER-BOTTOM: #c5d1e2 1px solid
}
.navborder {
	BORDER-RIGHT: #cccccc 0px solid; BORDER-TOP: #cccccc 0px solid; BORDER-LEFT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.yellowbox {
	BORDER-RIGHT: #7b7b7b 1px solid; BORDER-TOP: #7b7b7b 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7b7b7b 1px solid; WIDTH: 15px; BORDER-BOTTOM: #7b7b7b 1px solid; FONT-FAMILY: Arial,Tahoma,Verdana; BACKGROUND-COLOR: #f6d060; TEXT-ALIGN: center
}
.whitebox {
	BORDER-RIGHT: #7b7b7b 1px solid; BORDER-TOP: #7b7b7b 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7b7b7b 1px solid; WIDTH: 15px; BORDER-BOTTOM: #7b7b7b 1px solid; FONT-FAMILY: Tahoma,verdana,arial; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.redborder {
	BORDER-RIGHT: #ce0000 1px solid; BORDER-TOP: #ce0000 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ce0000 1px solid; WIDTH: 15px; BORDER-BOTTOM: #ce0000 1px solid; FONT-FAMILY: Tahoma,verdana,arial; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.redyellowborder {
	BORDER-RIGHT: #ce0000 1px solid; BORDER-TOP: #ce0000 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ce0000 1px solid; WIDTH: 15px; BORDER-BOTTOM: #ce0000 1px solid; FONT-FAMILY: Tahoma,verdana,arial; BACKGROUND-COLOR: #f6d060; TEXT-ALIGN: center
}
.redbox {
	BORDER-RIGHT: #ce0000 1px solid; BORDER-TOP: #ce0000 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ce0000 1px solid; WIDTH: 15px; BORDER-BOTTOM: #ce0000 1px solid; FONT-FAMILY: Arial,Tahoma,Verdana; BACKGROUND-COLOR: #f6d060; TEXT-ALIGN: center
}
.decbox {
	BORDER-RIGHT: #eed192 1px solid; BORDER-TOP: #eed192 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #eed192 1px solid; COLOR: #000000; BORDER-BOTTOM: #eed192 1px solid; FONT-FAMILY: Arial,Tahoma,Verdana; BACKGROUND-COLOR: #fff5df
}
.data {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial,Tahoma,Verdana
}
TD {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Arial,Tahoma,Verdana;
	border-right: 1px;
	;
	border: 1px;
	border-color: #000000;
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Arial,Tahoma,Verdana
}
.gdata {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial,Tahoma,Verdana
}
.datablue {
	FONT-SIZE: 11px; COLOR: #0589d5; FONT-FAMILY: Arial,Tahoma,Verdana
}
.deepblue {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003c5e; FONT-FAMILY: Arial,Tahoma,Verdana
}
.databold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial,Tahoma,Verdana
}
.datajus {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-ALIGN: justify
}
.datared {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ce0000; FONT-FAMILY: Arial,Tahoma,Verdana
}
.datalink {
	FONT-SIZE: 11px; CURSOR: hand; COLOR: #000000; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: none
}
.datalink:hover {
	FONT-SIZE: 11px; CURSOR: hand; COLOR: #ce0000; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: none
}
.gtext {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.button  { color: #003f67; font-weight: bold; font-size: 10px; font-family: Arial, Tahoma, Verdana; background-color: #E3E3E3; border: ridge 1px #515f7a }
.table { color: #003f67; font-weight: bold; font-size: 10px; font-family: Arial, Tahoma, Verdana; background-color: #E3E3E3; border: outset 1px white }
.button2  {
	color: #003f67;
	font-weight: bold;
	font-size: 10px;
	font-family: Arial, Tahoma, Verdana;
	background-color: #e3e3e3;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	border-color: #777;
	border-left: 1px;
}
.message {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Arial,Tahoma,Verdana
}
.textbox {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Arial,Tahoma,Verdana
}
.checkbox {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Tahoma,Verdana
}
.radio {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial,Tahoma,Verdana
}
.dropdown {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Arial,Tahoma,Verdana
}
.mandatory {
	FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Arial,Tahoma,Verdana
}
.head {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #07488f; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-ALIGN: left
}
.copyright {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial,Tahoma,Verdana
}
.sublink {
	FONT-SIZE: 11px; CURSOR: hand; COLOR: #000000; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: none
}
.sublink:hover {
	FONT-SIZE: 11px; CURSOR: hand; COLOR: #333399; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: none
}
.ttip {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 11px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial,Tahoma,Verdana; BACKGROUND-COLOR: lightyellow
}
.dgridHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial,Tahoma,Verdana; BACKGROUND-COLOR: #f5f5f5
}
.repeaterHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Arial,Tahoma,Verdana; BACKGROUND-COLOR: #a4bddb
}
A.createdresume:link {
	COLOR: #94c700; TEXT-DECORATION: none
}
A.createdresume:active {
	COLOR: #94c700; TEXT-DECORATION: none
}
A.createdresume:visited {
	COLOR: #94c700; TEXT-DECORATION: none
}
A.createdresume:hover {
	COLOR: #94c700; TEXT-DECORATION: none
}
.selresume {
	COLOR: #000000
}
.leftmenubg {
	BACKGROUND-COLOR: #d3e9ff
}
.graybg {
	BACKGROUND-COLOR: #eeeeee
}
.random {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #003f67; FONT-STYLE: normal; FONT-FAMILY: Georgia,Comic Sans MS,Tahoma; BACKGROUND-COLOR: #d3e9ff
}
.median {
	FONT-SIZE: 11px; COLOR: #afd8ff; FONT-FAMILY: Arial,Tahoma,Verdana
}
.nav {
	FONT-SIZE: 11px; COLOR: #7b7b7b; FONT-FAMILY: Arial,Tahoma,Verdana
}
.blueheader {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial,Tahoma,Verdana; BACKGROUND-COLOR: #0099cb
}
.bluefiller {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial,Tahoma,Verdana
}
TABLE.outertable {
	WIDTH: 100%; HEIGHT: 70%
}
TD.lefttd {
	BORDER-RIGHT: #003366 3px solid; PADDING-RIGHT: 12px; BORDER-TOP: #003366 3px solid; PADDING-LEFT: 13px; PADDING-BOTTOM: 15px; BORDER-LEFT: #003366 3px solid; WIDTH: 143px; PADDING-TOP: 14px; BORDER-BOTTOM: #003366 3px solid; TEXT-ALIGN: center
}
TD.middletd {
	BORDER-RIGHT: #003366 3px solid; PADDING-RIGHT: 20px; BORDER-TOP: #003366 3px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #003366 3px solid
}
TD.righttd {
	BORDER-RIGHT: #003366 3px solid; PADDING-RIGHT: 13px; BORDER-TOP: #003366 3px solid; PADDING-LEFT: 13px; PADDING-BOTTOM: 15px; WIDTH: 142px; PADDING-TOP: 15px; BORDER-BOTTOM: #003366 3px solid; TEXT-ALIGN: center
}
TD.highlightselected {
	BACKGROUND-COLOR: #003351
}
TD.highlightselectedbg {
	BACKGROUND-COLOR: #f1f1f1
}
.warning {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #015b63; FONT-FAMILY: Arial,Tahoma,Verdana
}
.bulletOrangeStyle {
	FONT-SIZE: 10px; LIST-STYLE-IMAGE: url(../images/bulletOrange.gif); MARGIN: 10px 20px 20px; FONT-FAMILY: Arial,Tahoma,Verdana
}
.breadcrumb {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10px; BORDER-LEFT: medium none; COLOR: #0099cc; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.smallLightBlue {
	FONT-SIZE: 10px; COLOR: #0099cc; BORDER-TOP-STYLE: none; FONT-FAMILY: Arial; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.commonfont {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
.serifParagraphStyle {
	FONT-SIZE: 9px; FONT-FAMILY: "MS Sans Serif"
}
.tableHeaderBlue {
	FONT-WEIGHT: lighter; FONT-SIZE: 16px; COLOR: #bbf1ff; FONT-FAMILY: Haettenschweiler; BACKGROUND-COLOR: #0099ff
}
.tableBlueBox {
	BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; BORDER-LEFT: #003366 1px solid; BORDER-BOTTOM: #003366 1px solid
}
.tableOrangeBox {
	BORDER-RIGHT: orange 1px solid; BORDER-TOP: orange 1px solid; FONT-SIZE: 10px; BORDER-LEFT: orange 1px solid; BORDER-BOTTOM: orange 1px solid; FONT-FAMILY: Arial,Tahoma,Verdana
}
.tableTopOnly {
	BORDER-RIGHT: #ffffff 0px outset; BORDER-TOP: black 1px outset; BORDER-LEFT: #ffffff 0px outset; BORDER-BOTTOM: #ffffff 0px outset
}
.layoutStyle {
	BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; FONT-WEIGHT: normal; BORDER-LEFT: #000066 1px solid; BORDER-BOTTOM: #000066 1px solid
}
.pageHeaderStyle {
	FONT-WEIGHT: bolder; FONT-SIZE: 20px; COLOR: #003366; FONT-FAMILY: "Arial Narrow", "Arial Black", Arial, Impact
}
.blueParagraphHeader {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #0099cc; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.dropDownStyle {
	BORDER-RIGHT: black thin solid; BORDER-TOP: black thin solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: black thin solid; WIDTH: 100px; COLOR: #006699; BORDER-BOTTOM: black thin solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tableTopAndBottom {
	BORDER-RIGHT: #003366 1px; BORDER-TOP: #003366 1px; BORDER-LEFT: #003366 1px; BORDER-BOTTOM: #003366 1px
}
.smallPageHeaderStyle {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.footerLayoutStyle {
	BORDER-BOTTOM-STYLE: none
}
.insidedropDownStyle {
	FONT-SIZE: 9px; OVERFLOW: scroll; WIDTH: 119px; FONT-FAMILY: Arial
}
.mustReadStyle {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #e6faff; FONT-FAMILY: Arial
}
.dropdownmenu {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Arial
}
.tableborder {
	BORDER-TOP-WIDTH: 3px; BORDER-LEFT-COLOR: black; BORDER-BOTTOM-WIDTH: 3px; BORDER-BOTTOM-COLOR: #003366; BORDER-TOP-COLOR: #003366; BORDER-RIGHT-COLOR: black
}
.underlinedlink {
	FONT-SIZE: 9pt; COLOR: #0090d6; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.underlinedlink:visited {
	FONT-SIZE: 9pt; COLOR: purple; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.underlinedlinksmall {
	FONT-SIZE: 8pt; COLOR: #0090d6; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.underlinedlinksmall:visited {
	FONT-SIZE: 8pt; COLOR: purple; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.leftmenufont {
	FONT-SIZE: 10px; COLOR: #0099cc; FONT-FAMILY: Arial
}
.sidemenucolor {
	FONT-SIZE: 10px; COLOR: #003366; FONT-FAMILY: Arial
}
.image {
	TEXT-DECORATION: none
}
H1 {
	DISPLAY: none
}
.footerTextStyle {
	FONT-SIZE: 10px; COLOR: #000033; FONT-FAMILY: Arial
}
.footerTextLinkStyle {
	FONT-SIZE: 10px; COLOR: #0099ff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.bottomline {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: 15px; MARGIN-BOTTOM: 25px; BORDER-LEFT: medium none; BORDER-BOTTOM: 1px solid
}
.MenuItem {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 12px; BORDER-LEFT: medium none; BORDER-BOTTOM: #003366 1px solid
}
.MenuItem_NoBottom {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 12px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; TEXT-ALIGN: left
}
.InsideMenu {
	PADDING-LEFT: 25px; PADDING-BOTTOM: 5px; TEXT-ALIGN: left
}
.InsideMenu_bot {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 25px; PADDING-BOTTOM: 5px; BORDER-LEFT: medium none; BORDER-BOTTOM: #003366 1px solid; TEXT-ALIGN: left
}
.SelectedLeftNavMenuCol1 {
	BORDER-RIGHT: #666666; BORDER-TOP: #666666; BORDER-LEFT: #666666; BACKGROUND-COLOR: #003366; TEXT-ALIGN: left
}
.SelectedLeftNavMenuCol2 {
	PADDING-LEFT: 22px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #003366; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
.AfterInsideMenu {
	BORDER-RIGHT: medium none; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 6px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; TEXT-ALIGN: left
}
.OutSelMenu1 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #003366
}
.OutSelMenu2 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 7px; FONT-WEIGHT: lighter; FONT-SIZE: 12px; BORDER-LEFT: medium none; COLOR: #003366; BORDER-BOTTOM: medium none; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
.SelMenu_NoBottom1 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: #003366 1px solid; BACKGROUND-COLOR: #003366; TEXT-ALIGN: left
}
.SelMenu_NoBottom2 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-LEFT: 7px; FONT-WEIGHT: lighter; FONT-SIZE: 12px; BORDER-LEFT: medium none; COLOR: #003366; BORDER-BOTTOM: medium none; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
A.x:link {
	FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.x:visited {
	FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.x:hover {
	FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.navigbartop {
	PADDING-LEFT: 10px; WORD-SPACING: 235pt; BACKGROUND-COLOR: #003366
}
.navigbarmiddle {
	PADDING-RIGHT: 8pt; FONT-SIZE: 1%; WORD-SPACING: 6px; COLOR: #ffffff; FONT-FAMILY: Arial,Tahoma,Verdana; BACKGROUND-COLOR: #ff7d0f; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.navigbarlast {
	PADDING-LEFT: 7px; FONT-SIZE: 12px; WORD-SPACING: 15px; COLOR: #ffffff; FONT-FAMILY: Arial; BACKGROUND-COLOR: #322d62
}
.navigtable {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 760px; BORDER-BOTTOM: 0px; HEIGHT: 87px; cellspacing: 2; cellpadding: 0
}
.wordspacing {
	WORD-SPACING: 2px
}
.select {
	PADDING-RIGHT: 3px; WORD-SPACING: 25px; TEXT-DECORATION: none
}
#navbar A {
	FONT-SIZE: 12px; TEXT-TRANSFORM: none; COLOR: #ffffff; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: none
}
.navigBarMiddleLinks {
	PADDING-RIGHT: 14px; PADDING-LEFT: 6px; FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: none
}
.navigBarBottomLinks {
	FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial,Tahoma,Verdana; TEXT-DECORATION: none
}
#navcontainer LI {
	PADDING-LEFT: 15px; BACKGROUND: url(../images/bulletorange.gif) no-repeat left center
}
.wordspacing {
	FONT-SIZE: 12px; WORD-SPACING: 3px; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.dropDownStyle {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 11px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Arial; HEIGHT: 10px
}
.navibarwordspacing {
	WORD-SPACING: 320px
}
.navibarpadding {
	PADDING-RIGHT: 13px; PADDING-LEFT: 8px
}
.unnamed1 {
	
}
.navibarselect {
	PADDING-LEFT: 8px; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.footerfont {
	FONT-SIZE: 10px; COLOR: #000033; FONT-FAMILY: Arial
}
.tablewidth {
	WIDTH: 757px; HEIGHT: 20px
}
.footerfont1 {
	FONT-SIZE: 10px; COLOR: #0099ff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.hspace {
	LINE-HEIGHT: 16px
}
.hrpadd {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px
}
.tipsbluefiller {
	BORDER-RIGHT: #c5d1e2 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #c5d1e2 0px solid; PADDING-LEFT: 6px; FONT-SIZE: 11px; BORDER-LEFT: #c5d1e2 1px solid; COLOR: #666666; BORDER-BOTTOM: #c5d1e2 1px solid; FONT-FAMILY: Arial,Tahoma,Verdana; BACKGROUND-COLOR: #ffffff
}
.bantxtcolor {
	COLOR: #01478f; LINE-HEIGHT: 12px
}
.login {
	border-left:1px
	border-left-color:#000099
	border-right:1px
	border-right-color:#000099
	border-bottom-color:#000099
}
.lefttd	{
	border-right:1px;
	border-right-color:#0000CC;
}	
.hover {color: #cccccc; text-decoration:none}

h1	{font: bold 16px Arial, Verdana, sans-serif, Helvetica;	color: #666; margin: 0px; padding: 0px;}
h2	{font: bold 15px Arial, Verdana, sans-serif, Helvetica;	color: #666; margin: 0px; padding: 0px;}
h3	{font: bold 14px Arial, Verdana, sans-serif, Helvetica;	color: #666; margin: 0px; padding: 0px;}
h4	{font: bold 12px Arial, Verdana, sans-serif, Helvetica;	color: #666; margin: 0px; padding: 0px;}
