 .swiper-container {
                height: calc(80vh - 100px); 
                margin: 30px;
              }
              
              .swiper-slide {
                overflow: hidden;
              }
              
              .slide-inner {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-size: cover;
                background-position: center;
              }
         .slide-inner     img{
                display:block;
                width:100%;
                height:auto;
              }
              .copy {
                position: absolute;
                bottom: 15px;
                left: 0;
                right: 0;
                color: white;
                text-align: center;
                letter-spacing: 0.06em;
              }
              a {
                color: #007bff;
              }





@media(max-width: 768px){
               .swiper-container {
                height: calc(30vh - 50px) !important; 
                margin: 30px;
              }

            }


            /* =============================================================== */
/* Base */
* {outline:none;}
html, body {height: 100%;}
body {font-family: 'Open Sans', sans-serif;font-size: 15px;line-height: 1.6;color: #440c0c;background-color: #fff;}
h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans', sans-serif;}

a:hover { color: #404040 ;transition-property: all;transition-duration: 0.3s;transition-timing-function: linear;}
a.none:hover {text-decoration: none;}


.menu-2 li a
{
    color: #7b2528;
    font-weight: bold;
    font-size: 15px;
}
}

 .padding 
    {
        padding-right: 15%;
    }


/* Hero */

.hero_content {padding: 120px 0;}
.hero_content h1 {text-shadow: 1px 1px 2px rgba(0,0,0,0.75);color: #7b2528;font-weight: 700;font-size: 42px;}
.hero_content h2 {text-shadow: 1px 1px 2px rgba(0,0,0,0.25);color: #000;font-weight: 700;font-size: 32px;margin-top: 0;width: 45%;line-height: 38px;}

/* Boxes */
.boxes_area {  margin: 10px;
    background-color: Wheat; /*  #fbcc30;*/
    color: #7b2528;
    font-size: 15px;
    font-weight: bold;}
.box {position: relative;}
.box h3 {position: relative;margin-bottom: 20px;padding-bottom: 20px;}

@media (min-width:769px) {
    .boxes_area div[class*="col-"]:after {content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 121px;
    background-color: #7b2528;}
    .boxes_area div[class*="col-"]:last-child:after {display: none;}    
}



/* Home */

.media .media-left { background-color:Wheat; /*  #fbcc30; */ color:#06066d; padding: 55px 10px;}

.media .products{ background-color: wheat;color:#440c0c;}

.media .products:hover{  background-color: Wheat; /* #fbcc30; */ color:#06066d;}

.media .media-left:hover{ background-color: #06066d; color: #fbcc30;}
.media .media-body { padding: 15px 0 0 15px;background-color: #fffbec;}

.box i {position: absolute;right: 0;top: 0;margin: 0;color: #7b2528;font-size: 45px;}
.boxes_area h3 {font-size: 16px;font-weight: 500;margin-top: 0;margin-bottom: 18px;}
.services {margin-left: 10px;}
.section-title {margin-top: 10px;  text-align: center;color: #06066d; font-weight: bold; font-size: 25px}
.services p.desc {text-align: center;font-size: 13px;margin-bottom: 20px;}
.services .media {margin-top: 10px;border: 1px solid Wheat; /* #fbcc30; */
    border-radius: 10px;
    margin-right: 0%;}
.media .media-left i {font-size: 45px; padding:0 0 0 10px}
.services .media h4 {font-size: 15px;font-weight: 600;color: #404040;}
.services .media p {text-align: left;}

/* News */
.home-area {padding-bottom: 5px;}
.home_content h2 {text-align: center;color: #fbcc30;}
.home_list ul {margin: 0;padding: 0;float: left;width: 100%;}
.home_list ul li {list-style: none;}
.home_list .thumbnail {border: none;padding: 0;}
.thumbnail .caption {padding: 9px;color: #404040;padding-left: 0;padding-right: 0;}
.home_list h3 {font-size: 16px;font-weight: 600;margin-top: 10px;margin-bottom: 10px;color: #404040;}
.home_list p {color:#8c8c8c}
.home_list a.btn {font-size: 13px;padding: 0;color: #7b2528;}
.home_bottom .row {margin-left: -5px;margin-right: -5px;}
.home_bottom div[class*="col-"] {padding-right: 5px;padding-left: 5px;position: relative;}

/* References */
.carousel-control{ width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:0;background-image:none;}

@media (max-width: 767px) {.carousel-inner .active.left {left: -100%;}.carousel-inner .next {left: 100%;}.carousel-inner .prev {left: -100%;}.active > div {display:none;}.active > div:first-child {display:block;}}
@media (min-width: 767px) and (max-width: 992px ) {.carousel-inner .active.left {left: -50%;}.carousel-inner .next {left:  50%;}.carousel-inner .prev {left: -50%;}.active > div {display:none;}.active > div:first-child {display:block;}.active > div:first-child + div {display:block;}}
@media (min-width: 992px ) {.carousel-inner .active.left {left: -25%;}.carousel-inner .next {left: 25%;}.carousel-inner .prev {left: -25%;}}

/* Footer */
footer.site-footer {background:Wheat; /*  #fbcc30; */ padding: 10px;float: left;width: 100%; color: #7b2528;}
footer.site-footer h4 {  padding-top: 10px;  font-size: 18px;    font-weight: bold;}
footer.site-footer ul {padding-left: 0;margin-bottom: 20px;list-style: none;}
footer.site-footer ul a {color: #666;font-size: 13px;}
footer.site-footer p {font-size: 15px; color: #7b2528}
footer.site-footer p a {color: #666;}
p.text {color: #666;}
#copyright {background: #7b2528;color: #ccc;padding: 0;font-size: 12px; }
#copyright p, #copyright ul {margin: 0;float: left;font-size: 12px;}
#copyright a {color:  gainsboro;font-size: 12px;}
.site-footer li a:hover {color:#7b2528;}
ul.big li {float: left;width: 49%;}
ul.big li:nth-child(2n) {margin-left: 2%;}

@media (max-width:462px) {.fbox:last-child {margin-top: 20px;float: left;width: 100%;}}

/* Maillist */
.login-form-1 {max-width: 300px;border-radius: 5px;display: inline-block;}
.main-login-form {position: relative;}
.login-form-1 .form-control {border: 0;box-shadow: 0 0 0;border-radius: 0;background: transparent;color: #555555;padding: 7px 0;font-weight: bold;height:auto;}
.login-form-1 .form-control::-webkit-input-placeholder {color: #999999;}
.login-form-1 .form-control:-moz-placeholder,.login-form-1 .form-control::-moz-placeholder,.login-form-1 .form-control:-ms-input-placeholder {color: #999999;}
.login-form-1 .form-group {margin-bottom: 0;border-bottom: 2px solid #fff;padding-right: 20px;position: relative;}
.login-form-1 .form-group:last-child {border-bottom: 0;}
.login-group {background: #efefef;color: #999999;border-radius: 8px;padding: 10px 20px;}
.login-group-checkbox {padding: 5px 0;}
.login-form-1 .login-button {position: absolute;right: -25px;top: 50%;background: #ffffff;color: #999999;padding: 11px 0;width: 50px;height: 50px;margin-top: -25px;border: 5px solid #efefef;border-radius: 50%;transition: all ease-in-out 500ms;}
.login-form-1 .login-button:hover {color: #555555;transform: rotate(450deg);}
.login-form-1 .login-button.clicked {color: #555555;}
.login-form-1 .login-button.clicked:hover {transform: none;}
.login-form-1 .login-button.clicked.success {color: #2ecc71;}
.login-form-1 .login-button.clicked.error {color: #e74c3c;}

/* Breadcrumb */
.bread_area {border-bottom: 1px solid #e7e7e7;padding: 10px 0;margin-bottom: 40px;}
.breadcrumb {margin: 0;background: #fff;padding: 0;}

/* Page */
.page-main {float: left;width: 100%;background-color: #fff;margin-bottom: 30px;}

/* Category */
.category-main {float: left;width: 100%;background-color: #fff;margin-bottom: 30px;}
.category-content h3 {font-size: 19px;margin-bottom: 20px;}
.category-main .media {margin-top: 30px;}
.category-main .media:first-child{margin-top: 0;}
.category-main ul li {list-style: none;position: relative;}
.category-main .media-left {padding-right: 20px;}
.category-main .meta {position: absolute;bottom: 0;border-bottom: 2px solid #e7e7e7;width: 71%;min-height: 30px;line-height: 24px;padding-bottom: 3px;}
.category-main .category-meta {width: 67%;}
.category-main .meta .arc-comment {float: left; margin-right: 5px; border-right: 2px solid #e7e7e7;padding-right: 7px;}
.category-main .meta .arc-comment a, .archive ul.arc-share li a {color: #333;font-size: 15px;}
.category-main .meta .arc-comment a:hover, .archive ul.arc-share li a:hover {text-decoration: none;color: #ff1515;}
.category-main .meta .arc-date {float: right;font-size: 15px;color: #333;}
.category-main ul.arc-share {float: left;margin: 0;padding: 0;margin-right: 5px;}
.category-main ul.arc-share li {float: left;list-style: none;margin-left: 10px;}
.category-main .archive-cat a {color: #ff1515;}
.category-main .archive-cat a:hover {color: #333; text-decoration: none;}


/* Sidebar */
.widget h4,h2.page-title, h2.category-title {position: relative;margin-top: 0;padding-bottom: 20px;margin-bottom: 20px;font-size: 17px;font-weight: 700;color: #404040;width: 100%;}
.widget h4 {font-size: 15px;margin-left: 15px;}
.widget h4:after,h2.page-title:after, h2.category-title:after {content: '';position: absolute;width: 30px;background-color: #7b2528;height: 2px;left: 0;bottom: 0;}
.widget {margin-bottom: 30px;}
.sidebar ul {padding-left: 15px;padding-right: 15px;margin: 0;}
.sidebar ul li {list-style: none;}
.sidebar ul li a {padding: 3px 15px;display: block;margin-left: -15px;margin-right: -15px;color: #404040;}
.sidebar li.current a {background-color: #7b2528;margin-left: -15px;margin-right: -15px;color: #FFFFFF;}
.sidebar ul li a:hover {background-color: #7b2528;color: #FFFFFF;text-decoration: none;transition-property: all;transition-duration: 0.2s;transition-timing-function: linear;}
.bord { border: 0.1px solid #440c0c;margin-right: 5px;text-align: center;}

p{font-family: 'Montserrat', sans-serif;}

h1,h2,h3,h4,h5,h6 {font-family: 'Arvo', serif;}
.w-col {
           margin-left: 10px !important;
            margin-right: 10px !important;
        }
/* Responsive */
@media screen and (max-width:462px) {
    .top {text-align: center;}.top ul.list-inline{float: none !important;text-align: center;}
    .hero_content {padding: 80px 0;}
    .hero_content h1 {font-size: 32px;}
    .hero_content h2 {width: 90%;font-size: 21px;}
    /*.boxes_area .row {margin-left: -20px;margin-right: -20px;}*/
    .boxes_area .box p {margin-bottom: 30px;}
    .services .media .media-left {padding-right: 15px;}
    
    .category-content .media-body {float: left;position: relative;width: 100%;}
    .category-content .media-body h3 {margin-top: 20px;}
    .category-main .meta {position: relative;width: 100%;}
    .category-main .meta .pull-left {margin-left: 40px;}
    .category-main .meta .pull-right {display: none;}
    
    .sidebar {margin-top: 40px;}
    .w-col {
           margin-left: 5px !important;
            margin-right: 5px !important;
        }
    .w-container {
           max-width: 100%;
        }
}
@media (min-width:463px) and (max-width:768px) {
    .fbox {float: left;}
    .fbox:nth-child(3) {float: right !important;}
    .w-col {
           margin-left: 5px !important;
            margin-right: 5px !important;
        }
}
 @media screen and (max-width: 1200px) {
        .w-container {
            max-width: 100%;
        }
        
     
     
    }


.footer-hover li a:hover
{
  opacity: 0.8;
}

@media (min-width:1366px){


.boxes_area {    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    background-color:Wheat; /* #fbcc30;*/
    color: #7b2528;
    font-size: 15px;
    font-weight: bold;
    
    }
   
}

@media (min-width:1024px){


.boxes_area {    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    background-color: Wheat; /* #fbcc30;*/
    color: #7b2528;
    font-size: 15px;
    font-weight: bold;
    
    }
    
    .anchor 
    {
        max-width: 16%;
    }
    
    .image 
    {
        width: 100%;
        height: 55px;
   }
    .padding 
    {
        padding: 0px;
    }
    
    #copyright p, #copyright ul {
    margin: 0;
    float: left;
    font-size: 12px;
    padding:0 10px;
}

}
@media (min-width:1920px)
{
     .image 
    {
        width: 100%;
        height: 70px;
   }

}