.ProductItemFirst {	
	width: 488px;
    height: 114px;
	overflow: hidden;
	background: url(../images/bx1bg.jpg) ;
	background-repeat:no-repeat;
	margin: 5px 0 0 0;
	padding: 0;
	
}

.ProductItemFirst1 {	
	width: 319px;
    height: 177px;
	overflow: hidden;
	background: url(../images/mainbox.jpg) ;
	background-repeat:no-repeat;
	margin: 5px 0 0 0;
	padding: 0;
	
}
nBg {
	background-image: url(../images/iB2.jpg);
	background-repeat:repeat-y;
}
.inBodyTable {
	background-image: url(../images/iB1.jpg);
	background-repeat:no-repeat;
}
.inBodyTable1 {
	background-image: url(../images/iB1_1.jpg);
	background-repeat:no-repeat;
}
#tnav {
	position:absolute;
	text-align:center;
    margin:0px;
    padding:0px;
    width:820px;
}
.navTable TD {
	text-align:center;
	color:#d59a23;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
.header {
	color:#2e4b6d;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
}
.header span {
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}
.data {
	color: #176ca9;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:justify;
}

.navTable TD A:link {
	color:#2d496d;
	text-decoration:none;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.navTable TD A:active {
	color:#2d496d;
	text-decoration:none;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.navTable TD A:visited {
	color:#2d496d;
	text-decoration:none;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.navTable TD A:hover {
	color:#ed6d00;
	text-decoration:underline;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.footer {
	color:#435f86;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
}
.foo  {
	text-align:center;
	color:#176ca9;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
.foo  A:link {
	color:#176ca9;
	text-decoration:none;
	
}
.foo  A:active {
	color:#176ca9;
	text-decoration:none;
	
}
.foo  A:visited {
	color:#176ca9;
	text-decoration:none;
	
}
.foo  A:hover {
	color:#c51400;
	text-decoration:underline;
	
}
#hbody {
	position:absolute;
	width:830px;
}
.bdyL { 
	width: 350px;
	padding-left:40px;
	padding-top:15px;
	padding-right:25px;
}
.bdyL TD {
	color:#634200;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
.bdyR { 
	padding-left:9px;
	padding-top:10px;
}
.listi {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:3px 0px 0px 10px;
	padding:0px;
	
}
.text a:link {
	color:#634200;
	font-family:verdna,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:15px;
	text-decoration:underline;
	}
.text a:visited {
	color:#634200;
	font-family:verdana,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:15px;
	text-decoration:underline;
}
.text a:active {
	color:#4634200;
	font-family:verdana,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:15px;
	text-decoration:underline;
}
.text a:hover {
	color:#000000;
	font-family:verdana,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:15px;
	text-decoration:none;
}
.data1 {
	color: #176ca9;
	font-family:Trebuchet MS,Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;	
	font-weight:bold;
	
	
}
.more {
	color: #c51400;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;	
	font-weight:bold;
	text-align:right;
	
	
	
}
.data2 {
	color: #275dab;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	padding-left:5px;
	padding-right:2px;

}
.TextMainArial {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; TEXT-TRANSFORM: none; COLOR: #176ca9; LINE-HEIGHT: 18px; FONT-FAMILY: verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
}
SPAN.star {
	color:#BA0001;
	font-weight:bold;
	FONT-SIZE: 14px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-right:3px;	
}
.logoptions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4C74AD;
	text-align: left;
	vertical-align: middle;
	padding-left: 25px;
}
.logoptions A{
	color: #4C74AD;
}
.logoptions A:hover{
	color: #B60A08;
}
.marquee {
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #c51400;
	font-weight:bold;
	text-align:left;

}
body {
	margin-left: 2px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
}
.sidedata {
	color: #000000;
	text-align:justify;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-left:5px;
	padding-right:5px;
	
}
.member{
	color: #ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;	
	font-weight:bold;
	text-align:justify;
	padding-top:5px;

}



.hea {
	text-align:center;
	color:#ffb283;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
.hea  A:link {
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}
.hea  A:active {
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}
.hea  A:visited {
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}
.hea A:hover {
	color:#ffb283;
	text-decoration:underline;
	font-weight:bold;
}
.panel.gradient {
/*clear: both;*/
width: 770px;
/*min-height: 500px;*/
background: url(../images/bg_tabContainer_wide_gradient.jpg) 100% 0 no-repeat;
}
.Narrow .panel {
width: 480px;
background: url(../images/bg_tabContainer_narrow_bottom.gif) 100% 100% no-repeat;
}
.Left .panel, .Right .panel {
width: 190px;
background: url(../images/bg_tabContainer_side_bottom.gif) 100% 100% no-repeat;
}
.panelButtonOn {
float: left;
background: url(../images/btn_panel_on_left.gif) 0 0 no-repeat;
margin: 0 0 0 10px;
display: inline;
}
.panelButtonOn a {
display: block;
float: left;
height: 24px;
color: #176ca9;
text-decoration: none;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding: 7px 20px 0 5px;
margin: 0 0 0 5px;
background: url(../images/btn_panel_on_right.gif) 100% 0 no-repeat;
display: inline;
font-size:13px;
}
.panelButtonOff {
float: left;
background: url(../images/btn_panel_off_left.gif) 0 0 no-repeat;
margin: 0 0 0 10px;
display: inline;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color: #176ca9;

}
.panelButtonOff a {
display: block;
float: left;
height: 24px;
color: #757575;
text-decoration: none;
padding: 7px 20px 0 5px;
margin: 0 0 0 5px;
background: url(../images/btn_panel_off_right.gif) 100% 0 no-repeat;
display: inline;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
}
.panelButtonOn a:hover, .panelButtonOff a:hover {
color: #fe4819;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
}
.panel {
clear: both;
width: 770px;
background: url(../images/bg_tabContainer_wide_bottom.gif) 100% 100% no-repeat;
}
.panel.gradient {
/*clear: both;*/
width: 770px;
/*min-height: 500px;*/
background: url(../images/bg_tabContainer_wide_gradient.jpg) 100% 0 no-repeat;
}
.Narrow .panel {
width: 480px;
background: url(../images/bg_tabContainer_narrow_bottom.gif) 100% 100% no-repeat;
}
.Left .panel, .Right .panel {
width: 190px;
background: url(../images/bg_tabContainer_side_bottom.gif) 100% 100% no-repeat;
}
.panelBox {
padding: 20px 0 20px 5px;
}
.Right .panelBox {
padding: 10px 0 10px 10px;
font-size: 0.95em;
}
.panel p, .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel hr, .panel li, .panel fieldset, .panel .Testimonial {
margin-right: 20px;
}
.panel table {
width: 730px;
}
.panel table hr {
margin-right: 0
}
.panel th {
}
.panel .odd td {
background-color: transparent;
}
.panel .even td {
background-color: #f5f8fa;
}
/* News Lists (Toggle Feature Tabs) */
.NewsList, .NewsList ul {
margin: 0;
padding: 0;
list-style: none;

}
.NewsList li {
float: left;
list-style: none;
width: 215px;
line-height: 1.3em;
border-bottom: 1px dotted #b4b4b4;
margin: 0 10px 10px 0;
padding: 0 0 10px 0;
height: 7em;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.NewsList li a {
text-decoration: none;
color: #1E292B;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.NewsList li a:hover {
color: #196297;
text-decoration: underline;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.NewsList strong {
font-size: 0.9em;
}
.NewsList .author {
color: #757575;
}
.NewsList .date {
color: #fe4819;
font-size: 0.85em;
}
.Right #newsTabPanel {
}
.Right .NewsList ul {
list-style: none;
margin: 0;
padding: 0;
}
.Right .NewsList li {
width: 170px;
list-style: none;
margin: 0 0 10px 0;
padding: 0 0 10px 0;
}
.Right .NewsList li a {
background-image: none;
display: inline;
color: #196297;
margin: 0;
padding: 0;
}
.Right .NewsList li a:hover {
color: #fe4819;
}
#Layer1 {
	position:absolute;
	left:26px;
	top:266px;
	width:367px;
	height:94px;
	z-index:1;
}
